/* hero section starts here */

section.hero {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}

section.hero .container {
  width: var(--content-width);
  margin: auto;
}

section.hero .container header h1,
section.hero .container header h1 span {
  font-family: "Poiret One";
}

section.hero .container header h1 {
  width: 700px;
  margin: auto;
  text-align: center;
  font-family: "Poiret One";
  font-size: 70px;
  font-weight: bold;
  line-height: 1.1;
}

section.hero .container header h1 span {
  color: #a9b1ce;
}

section.hero .container .links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0px auto;
}

/* hero section endss here */

/* projects section starts here */
section.projects .container {
  /* width: var(--content-width); */
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

section.projects .container .projects {
  height: 950px;
}
/* projects section ends here */

/* expericens section starts here */
section.experiences {
  /* background-color: green; */
  margin-top: 200px;
}
section.experiences .container {
  width: var(--content-width);
  margin: auto;
  /* background-color: grey; */
}

section.experiences .container .option-bar {
  width: 530px;
  height: 40px;
  background-color: #252638;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

section.experiences .container .option-bar .option {
  width: 33.33%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

section.experiences .container .option-bar .option:hover {
  cursor: pointer;
}

section.experiences .container .option-bar .option img {
  margin-left: 8px;
}

section.experiences .container .option-bar .option.active {
  transition: 0.1s ease-in-out;
  background-color: #a9b1ce;
}

section.experiences .container .option-bar p {
  font-size: 17px;
  font-family: "TeX Gyre Adventor";
  color: white;
  font-weight: bold;
}

section.experiences .container .option-bar .option.active p {
  color: #252638;
}

section.experiences .container .experiences-container {
  width: var(--content-width);
  height: 100%;
  height: 480px;
  position: relative;
  /* background-color: orange; */
}

section.experiences .container .experience {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

section.experiences .container .experience.show {
  opacity: 1;
}

section.experiences .container .experience .experience-img {
  width: 624px;
  height: 480px;
  background-color: green;
}

section.experiences .container .experience article {
  width: 450px;
  height: 480px;
  padding-top: 120px;
  /* background-color: red; */
}

section.experiences .container .experience article header p {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* experiecen section ends here */

/* technologies section starts here */
section.technologies {
  margin-top: 200px;
  /* background-color: black; */
}

section.technologies .container {
  width: var(--content-width);
  margin: auto;
}

section.technologies .container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0px;
}

section.technologies .container header h2,
section.technologies .container header p {
  width: 450px;
  text-align: center;
}

section.technologies .container .techs {
  width: 800px;
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto 0px auto;
}

section.technologies .container .techs .tech {
  width: 100px;
  height: 100px;
}

/* technologies section ends here */

/* reach me section starts here */
section.reach-me {
  margin-top: 200px;
  /* background-color: darkblue; */
}

section.reach-me .container {
  width: var(--content-width);
  margin: auto;
}

section.reach-me .container header h2 {
  width: 400px;
  margin: auto;
  text-align: center;
}
section.reach-me .container .links {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
/* reach me section ends here */

/* responsive media queries */
@media screen and (max-width: 1550px) {
  section.projects .container {
    height: 855px;
  }

  section.projects .projects {
    scale: 0.9;
    margin-top: -47px;
  }
}

@media screen and (max-width: 1400px) {
  section.projects .container {
    height: 760px;
  }
  section.projects .projects {
    scale: 0.8;
    margin-top: -95px;
  }
}

@media screen and (max-width: 1270px) {
  section.experiences .container .option-bar {
    display: none;
  }

  section.experiences .container .experiences-container {
    height: calc(480 * 4px);
    /* background-color: red; */
  }

  /* section.experiences .container .experience:nth-child(2) {
    margin-top: var(--section-margin);
  } */

  section.experiences .container .experience:nth-child(2) {
    margin-top: 140px;
  }

  section.experiences .container .experience {
    flex-direction: column;
    align-items: center;

    opacity: 1;
    position: static;
  }

  section.experiences .container .experience article {
    width: 625px;
    padding-top: 70px;
    /* background-color: green; */
    height: 400px;
  }

  section.technologies .container .techs {
    width: 600px;
  }
}

@media screen and (max-width: 850px) {
  section.hero .container header h1 {
    width: 600px;
  }

  section.technologies .container .techs {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {
  section.hero .container header h1 {
    width: 500px;
  }

  section.experiences .container .experience-img {
    margin-top: -25px;
    scale: 0.9;
  }

  section.experiences .container .experience article {
    width: 565px;
    margin-top: -25px;
  }

  section.experiences .container .experiences-container {
    height: calc(480px * 2 + 430px * 2);
  }
}

@media screen and (max-width: 650px) {
  section.hero .container header h1 {
    width: 400px;
    font-size: 60px;
  }

  section.experiences .container .experience-img {
    margin-top: -75px;
    scale: 0.7;
  }

  section.experiences .container .experience article {
    height: 400px;
    width: 435px;
    padding-top: 90px;
    margin-top: -75px;
  }

  section.experiences .container .experiences-container {
    height: calc(435px * 2 + 297px * 2);
  }

  section.experiences .container .experience:nth-child(2) {
    margin-top: 100px;
  }

  section.reach-me .container header h2 {
    width: 350px;
  }

  section.technologies {
    margin-top: 250px;
  }

  section.technologies .container header h2,
  section.technologies .container header p {
    width: 400px;
  }

  section.technologies .container .techs {
    width: 350px;
    gap: 20px;
  }

  section.technologies .container .techs .tech {
    scale: 0.8;
  }
}

@media screen and (max-width: 550px) {
  section.hero .container header h1 {
    width: 350px;
    font-size: 55px;
  }

  section.hero .container .links {
    width: 300px;
  }

  section.technologies .container header h2,
  section.technologies .container header p {
    width: 350px;
  }

  section.reach-me .container .links {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  section.hero .container header h1 {
    width: 300px;
    font-size: 50px;
    /* background-color: red; */
  }

  section.hero .container .links {
    width: 250px;
    /* background-color: red; */
  }

  section.experiences .container .experiences-container {
    height: calc(350px * 2 + 262px * 2);
  }

  section.experiences .container .experience-img {
    margin-top: -110px;
    scale: 0.56;
  }

  section.experiences .container .experience article {
    height: 350px;
    width: 350px;
    margin-top: -110px;
    padding-top: 50px;
  }

  section.technologies .container header h2,
  section.technologies .container header p {
    width: 300px;
  }

  section.technologies .container .techs {
    gap: 5px;
    width: 310px;
  }

  section.technologies .container .techs .tech {
    scale: 0.7;
  }

  section.reach-me .container header h2 {
    width: 300px;
  }

  section.reach-me .container .links {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  section.projects .container {
    height: 667px;
  }
  section.projects .container .projects {
    scale: 0.7;
    margin-top: -142px;
  }

  section.experiences .container .experiences-container {
    height: calc(300px * 2 + 272px * 2);
  }

  section.experiences .container .experience-img {
    margin-top: -130px;
    scale: 0.48;
  }

  section.experiences .container .experience article {
    height: 350px;
    width: 300px;
    margin-top: -130px;
  }
}

@media screen and (max-width: 350px) {
  section.hero .container header h1 {
    width: 250px;
    font-size: 50px;
    /* background-color: red; */
  }

  section.experiences .container .experiences-container {
    height: calc(290px * 2 + 282px * 2);
  }

  section.experiences .container .experience-img {
    margin-top: -130px;
    scale: 0.465;
  }

  section.experiences .container .experience article {
    height: 350px;
    width: 290px;
    margin-top: -130px;
  }

  section.technologies .container header h2,
  section.technologies .container header p {
    width: 250px;
  }

  section.technologies .container .techs {
    width: 250px;
  }

  section.technologies .container .techs .tech {
    scale: 0.7;
  }

  section.reach-me .container header h2 {
    width: 250px;
  }

  section.reach-me .container .links {
    width: 250px;
  }
}

@media screen and (max-width: 300px) {
  section.projects .container {
    height: 571px;
  }
  section.projects .container .projects {
    scale: 0.6;
    margin-top: -190px;
  }

  section.experiences .container .experiences-container {
    height: calc(270px * 2 + 282px * 2);
  }

  section.experiences .container .experience-img {
    margin-top: -140px;
    scale: 0.43;
  }

  section.experiences .container .experience article {
    height: 350px;
    width: 270px;
    margin-top: -140px;
    padding-top: 40px;
  }
}
